/* --- Base Element Styles ---*/

* {
  box-sizing: border-box;
}

h1 {
  font-size:2em;
  margin-top: 20px;
  color: red;
}

h1, h2, legend {
  letter-spacing: 0.04em;
  font-family: 'Raleway', sans-serif;
}

h2, legend, button {
  font-size: 21px;
  font-weight: 600;
}

h2 {
  color: #fff;
}

legend {
  color: red;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  color: #BDBDBF;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-position: cover;
  background: url('../images/dark-offices.jpg') no-repeat center center;
}

p {
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 25px;
}

/* --- Layout containers --- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper,
.copyright,
.cb_container {
  flex: 1;
  margin: 0 auto;
}

/* --- HEADER --- */

.top-bar {
  background-color: #BDBDBF;
  height: 80px;
  background-position: cover;
  background: url('../images/crimson-red.jpg') no-repeat bottom right;
}

header {
  text-align: center;
}

.signup {
  padding: 40px 50px;
}

/* --- Contact Information Form --- */

legend {
  margin-bottom: 20px;
}

fieldset {
  border: none;
}

input {
  width: 100%;
  margin: 15px 0px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background: #f0f0f0;
}

.item {

}

.item2[placeholder=required] {
  text-align: right;
  padding-right: 10px;
  font-style: italic;
}

select {
  background-color: white;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus, select:focus {
   background-color: #ffffff;
   outline: none;
   border-bottom: 3px solid red;
   -ms-transition: 0.35s ease-in-out;
   transition: 0.35s ease-in-out;
}

/* --- Newsletter Form --- */

.newsletter input {
   height: 10px;
   display: inline-block;
}

input[type="checkbox"]:checked + label {
  color: red;
}

.cb_container, .radio_container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
}

.cb_container {
   padding-left: 30px;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: black;
    border: 1px solid #555;
}

.cb_container input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    visibility: hidden;
}

.cb_container input:checked ~ .checkmark:after {
    visibility: visible;
}

.cb_container .checkmark:after {
    left: 4px;
    bottom: 5px;
    width: 5px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
}

.radio_container input[type='radio'] {
   display: none;
}

.radio_container label:before {
   content: " ";
   display: inline-block;
   position: relative;
   top: 3.8px;
   margin-right: 10px;
   width: 16px;
   height: 16px;
   border-radius: 11px;
   background-color: black;
   border: 1px solid #555;
}

.radio_container input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10.45px;
  left: 6.499px;
  content: " ";
  display: block;
  background: #fff;
}

textarea, button {
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #eee;
  color: black;
}

button {
  background-color: red;
  height: 50px;
  color: #fff;
  border: none;
}

.white_space {
  height: 80px;
}

/* --- FOOTER --- */

.inner-footer {
  display: flex;
  align-items: center;
  background-color: #555;
  height: 75px;
}

.copyright {
  text-align: center;
}

/* --- RESPONSIVES --- */

@media screen and (min-width: 760px) {
  .top-bar {
    background: url('../images/crimson-red.jpg') no-repeat bottom;
  }

  .wrapper,
  .copyright {
    width: 65%;
  }

  .flex-container {
    display: flex;
  }

  input {
    margin: 0px;
  }

  .item2 {
    width: 60%;
    align-items: flex-end;
    margin-left: 20px;
  }
}
