/* --- Base Element Styles ---*/

* {
  box-sizing: border-box;
}

h1 {
  font-size:2em;
  margin-top: 20px;
  color: red;
}

h1, h2, legend {
  letter-spacing: 0.04em;
  font-family: 'Raleway', sans-serif;
}

h2, legend {
  font-size: 21px;
  font-weight: 700;
}

h2 {
  color: #fff;
}

legend {
  color: red;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  color: #BDBDBF;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-position: cover;
  background: url('../images/dark-offices.jpg') no-repeat center center;
}

p {
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 25px;
}

/* --- Layout containers --- */

body {
  width: 100%;
  background-position: cover;
}

.wrapper {
  display: block;
  margin: 0 auto;
}

/* --- HEADER --- */

.top-bar {
  background-color: #BDBDBF;
  height: 80px;
  width: 100%;
  background-position: cover;
  background: url('../images/crimson-red.jpg') no-repeat bottom right;
}

header {
  text-align: center;
}

.signup {
  padding: 40px 50px;
}

.white-space {
  height: 30px;
}

/* --- Contact Information Form --- */

form {
  padding: 20px;
}

legend {
  margin-bottom: 20px;
}

fieldset {
  border: none;
}

.item {
  margin: 15px 0px;
  width: 100%;
  height: 40px;
}

.item[placeholder=required] {
  text-align: right;
  padding-right: 10px;
  font-style: italic;
}

input.item {
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background: #f0f0f0;
}

input[type=text]:focus, .item:focus {
   background-color: #ffffff;
   outline: none;
   border-bottom: 3px solid red;
   -ms-transition: 0.35s ease-in-out;
   transition: 0.35s ease-in-out;
}

/* --- Newsletter --- */

.newsletter input {
   height: 10px;
   display: inline-block;
}

input[type="checkbox"]:checked + label {
  color: red;
}

.cb_container, .radio_container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
}

.cb_container {
   padding-left: 30px;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: black;
    border: 1px solid #555;
}

.cb_container input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    visibility: hidden;
}

.cb_container input:checked ~ .checkmark:after {
    visibility: visible;
}

.cb_container .checkmark:after {
    left: 4px;
    bottom: 5px;
    width: 5px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
}

.radio_container input[type='radio'] {
   display: none;
}

.radio_container label:before {
   content: " ";
   display: inline-block;
   position: relative;
   top: 3.8px;
   margin-right: 10px;
   width: 14px;
   height: 14px;
   border-radius: 11px;
   background-color: black;
   border: 1px solid #555;
}

.radio_container input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 5px;
  content: " ";
  display: block;
  background: #fff;
}

/* --- End Forms --- */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* --- FOOTER --- */

.contact h2 {
  padding: 10px;
}

.contact {
  padding: 20px 15px 40px;
  margin: 0 auto;
  max-width: 500px;
}

.bottom-footer {
  border-top: 1px groove #8AD1F4;
  margin: 0px 20px;
}

.bold {
  font-weight: 600;
}

.bottom-name {
  font-size: 1em;
}

.right {
  float: right;
}

.back-to-top {
  padding: 18px 0px;
  color: #144055;
}

.footer-nav {
  display: none;
}

/* --- RESPONSIVES --- */

@media screen and (min-width: 760px) {

}
